
@use 'variables';
h2{
        color: variables.$color3;
        text-align: center;
        padding: 40px;
        font-size: 50px;
        font-weight: 800;

        
}

@media screen and (max-width: 560px) { 
    h2{
       font-size: 30px;
       padding: 5px;
            }
}

.inicio-producto{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; 
    flex-wrap: wrap;
    max-width: 1600px; 
    height: 100%;
    margin: auto;
}