.grid-area-productos{
    margin: auto;
    margin-top: 25px;
    width: 80%;
    display: grid;
    grid-template-columns: 25% ;
    grid-template-areas: 'selector selector' 
                         'filtro1  productos'
                         'filtro1 button';
    .productoslist{
    display: flex;
    grid-area: productos;
    justify-content: space-around;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%; 
    height: 100%;
    margin: auto;
    transition: 1s;

}

}                         

@media screen and (max-width: 864px){

    .grid-area-productos{
       margin: auto;
       margin-top: 25px;
       width: 100%;
       display: grid;
       grid-template-columns: 0%;
       grid-template-areas: 'selector selector' 
                            'prodcutos  productos'
                            'filtro1 button'
                               ;
    
   }                         
   .grid-area-productos .categoria-filtro{ 
       visibility: hidden;
       justify-self: center;
       grid-area:filtro1;
   
       
   }
       }
   