@use 'boton-mas';
@use 'card';
@use 'categorias';
@use 'compra';
@use 'filtro-categorias';
@use 'productos';
@use 'selector';
@use 'variables';
@use'inicio';


// Variables

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}

body{ 
    background-color: whitesmoke;
}

a{  
    text-decoration: none;
    color: rgb(7, 7, 7);
    transition: 0.2s;
    &:hover{  
        text-decoration: none;
        color: rgb(7, 7, 7);
    }
}


    






