
.card{
    margin: 25px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 320px;
    box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.75);
    transition: transform .2s;
        .titulo{
            color: black;
            text-align: center;}

        img{
            margin: none;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 80%;
        }
        .botones{
            width: 100%;
            height: 8%;
            align-items: center;
            display: flex;
            justify-content: space-around;
        }
        .card button{
            border: none;
            margin: 5px;
            background-color: rgb(255, 255, 255);
            font-family: 'Poppins', sans-serif;
            font-size: 10px;
            color: rgb(99, 99, 99);
        }

        @media screen and (max-width: 560px) { 
 
            .card{
                margin: 8px;
                border-radius: 15px;
                background-color: rgb(255, 255, 255);
                width: 160px;
                height: 280px;
                box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.75);
                
            }
            .card .titulo{
                color: black;
                font-size: 14px;
                text-align: center;}
                
            .producto-compra .titulo h1{
               text-align: start;
               font-size: 40px;
                }
        
        }

        .card:hover{
  
            transform: scale(1.1);
            box-shadow: 2px 2px 13px -1px rgba(10, 125, 255, 0.75);
        }
}




