*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}
body{ 
    background-color: aliceblue;
}


.fa-bars{
    margin: 40px;
    color: #fff;
    font-size: 50px;
    visibility: hidden; }
h2{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;
    font-size: 50px;
}

.categorias-select
.productos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; 
    flex-wrap: wrap;
    max-width: 1600px; 
    height: 100%;
    margin: auto;
}
.productoslist{
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 70%; 
    height: 100%;
    margin: auto;

}
.card-list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; 
    flex-wrap: wrap;

}
.card{
    margin: 25px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 360px;
    box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.75);
    
}

.card img{
    margin: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 80%;
}
.card .titulo{
    color: black;
    text-align: center;}
.botones{

    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.card button{
    border: none;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: rgb(99, 99, 99);
}

.categorias{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.categorias-conten{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    max-width: 250px;
    max-height: 250px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.50);
    margin: 20px;
}
.categorias-conten img{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    border-radius: 100%;  
}
.texto-circle{
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    z-index: 5;
    color: rgba(255, 255, 255, 0.6);     
        }

.cat-art {
    padding: 30px;
    width: 1100px;
    height: 100%;
    margin: auto;
}

.cat-art ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    }

.selector{
    margin-top: 120px;
    height: 100%;
    width: 1700px;
    display: flex;
    justify-content: flex-end;
}

.selector select{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid; 
    border-color: rgb(185, 185, 185);
    
}

.produtos button{
    width: 300px;
    height: 50px;
    background-color: rgb(0, 126, 245);
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 20px;
}

.formulario {
    margin: 0px;
    padding: 0%;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 120px;
    background-color: rgb(0, 140, 255);
    
}
.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: auto;
    height: auto;

}
form input{
    border: none;
}
form button{
    margin: 10px;
    padding: 10px;
}
.sobre-nosotros{
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 120px;
}

.sobre-nosotros img{
    width: 100%;

}

.producto-compra{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    height: 100%;
    margin: auto;
    margin-top: 100px;
}
.producto-compra .caracteristica{
    width: 800px;
    height: 1200px;
}
.producto-compra .caracteristica h2{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.producto-compra .caracteristica p{
    margin-top: 10px;

}
.producto-compra .caracteristica img{
    width: 100%;
    height: 70%;
}
.producto-compra .comprar{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-compra .comprar button{
    background-color: blue;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 10px;

}
@media screen and (max-width: 864px){
    .categorias-conten{ 
        font-size: 10px;
        max-width: 210px;
        max-height: 210px;
        margin: 10px;}
    .categorias-conten img{
        padding: 15px;
        width: 160px;
        height: 160px;}
        .texto-circle{
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            position: absolute;   
                }
            
    }

@media screen and (max-width: 560px) { 

     .fa-bars:hover + ul {
        right: 0px;
     }
    nav ul:hover{
        right: 0px;
    }
    .categorias-conten{ 
        max-width: 160px;
        max-height: 160px;
        margin: 3px;}
    .categorias-conten img{
        padding: 10px;
        width: 120px;
        height: 120px;}

    .texto-circle{
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        z-index: 5;     
            }
    

    h2{
       font-size: 26px;
       padding: 5px;
            }

    

    .card{
   width: 100vw;
        margin: 8px;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        width: 140px;
        height: 240px;
        box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.75);
        
    }
    .card .titulo{
        color: black;
        font-size: 14px;
        text-align: center;}

}
