.categorias{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .categorias-conten{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        max-width: 250px;
        max-height: 250px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 2px 2px 13px -1px rgba(0,0,0,0.50);
        margin: 20px;
        transition:  0.5s;
    }

    img{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 210px;
        border-radius: 100%;  
    }
    .texto-circle{
        text-decoration: none;
        font-size: 40px;
        font-weight: 700;
        position: absolute;
        z-index: 5;
        color: rgba(255, 255, 255, 0.6);     
            }

            .texto-circle:hover{  
                text-decoration: none;
                color: rgba(32, 84, 255, 0.39);
            }

            .categorias-conten:hover{
   
                box-shadow: 2px 2px 13px -1px rgba(10, 125, 255, 0.75);
            }
}


@media screen and (max-width: 864px){
 
    .categorias-conten{ 
        font-size: 10px;
        max-width: 210px;
        max-height: 210px;
        margin: 10px;
        
        img{
            padding: 15px;
            width: 160px;
            height: 160px;
        }
    }
   
        .texto-circle{
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            position: absolute;   
                }
            }
            
@media screen and (max-width: 560px) { 

    .fa-bars:hover + ul {
        right: 0px;
    }
    
    nav ul:hover{
        right: 0px;
    }

    .categorias-conten{ 
        max-width: 140px;
        max-height: 140px;
        margin: 3px;
        img{
            padding: 10px;
            width: 100px;
            height: 100px;
        }
    }

    .texto-circle{
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        z-index: 5;     
            }
 }
