.categoria-filtro{ 
    justify-self: center;
    grid-area:filtro1;
    width: 60%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    p{
        background-color: "$color-principal";
        text-align: center;
        color: #fff;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    
}
