@use 'boton-mas';
@use 'card';
@use 'categorias';
@use 'compra';
@use 'filtro-categorias';
@use 'formulario';
@use 'productos';
@use 'selector';

// Variables

$color-principal: #0139E6;
$color-texto: rgb(0, 0, 0) ;
$color-textp2: rgb(194, 194, 194);
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}

body{ 
    background-color: rgb(248, 252, 255);
}

a{  
    text-decoration: none;
    color: rgb(7, 7, 7);
    transition: 0.2s;
}
a:hover{  
    text-decoration: none;
    color: rgb(7, 7, 7);
}

.fa-bars{
    margin: 40px;
    color: #fff;
    font-size: 50px;
    visibility: hidden; }
    
h2{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;
    font-size: 50px;
}

.inicio-producto{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; 
    flex-wrap: wrap;
    max-width: 1600px; 
    height: 100%;
    margin: auto;
}

@media screen and (max-width: 560px) { 
    h2{
       font-size: 26px;
       padding: 5px;
            }
}


.fa-paper-plane-top{
    color: #fff;
    font-size: 40px;
    z-index: 400;
}

.sobre-nosotros {

    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 120px;
    img{
        width: 100%;
        }      
}